.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.swiper-pagination-bullet {
    background: #D1D5DB !important;
}
span.swiper-pagination-bullet-active {
    background: #F97316 !important;
}
/* .swiper-pagination-bullets{
    top: ;
} */


@media (max-width: 490px) {
    .swiper {
      height: 450px !important;
    }
  }

